<div class="aside-lists-posts bg-slate-100">
  <h2
    class="mb-6 border-b border-gray-300 py-6 pt-2 text-center text-xl">
    Lasītākie raksti
  </h2>
  <ul class="relative flex flex-col gap-y-8">
    <li class="border-b border-gray-300 pb-6 last:border-none">
      <div class="meta flex gap-3 uppercase">
        <span class="counter"><b class="text-xl">1.</b></span>
        <ul class="inline-flex font-serif space-x-2">
          <li class="category inline-flex items-center whitespace-nowrap list-bullet">Viedoklis</li>
          <li class="author inline-flex items-center  whitespace-nowrap list-bullet">Mortens Hansens</li>
        </ul>
      </div>
      <h4 class="leading-7">
        Par bankām, lielveikaliem un tirgus ekonomiku
      </h4>
    </li>
    <li class="border-b border-gray-300 pb-6 last:border-none">
      <div class="meta flex gap-3 uppercase">
        <span class="counter"><b class="text-xl">2.</b></span>
        <ul class="inline-flex font-serif space-x-2">
          <li class="category inline-flex items-center whitespace-nowrap list-bullet">Speciāli IR</li>
          <span class="author inline-flex items-center whitespace-nowrap list-bullet">guntis keisels</span>
        </ul>
      </div>
      <h4 class="leading-7">Sapņu komandas sastādītājs</h4>
    </li>
  </ul>
</div>