<figure class="flex flex-1 flex-grow flex-col bg-white shadow-ir-default border-t border-slate-100 {{class}}">

  {{#if image}}

    <img src="{{image}}" alt="" class="aspect-video w-full cursor-pointer object-cover" role="link" x-data
      @click="$dispatch('lightbox',  {  imgModalSrc: $el.getAttribute('src'), imgModalAlt: 'Author', imgModalDesc: 'Iesitīsim ar likumu pa likmi' })" />

  {{else}}

    <img src="./src/assets/img/temp/hero.jpg" alt="" class="aspect-video w-full cursor-pointer object-cover" role="link"
      x-data
      @click="$dispatch('lightbox',  {  imgModalSrc: $el.getAttribute('src'), imgModalAlt: 'Author', imgModalDesc: 'Iesitīsim ar likumu pa likmi' })" />

  {{/if}}

  <div class="flex flex-1 flex-col flex-wrap items-start gap-y-3 p-4 lg:p-8">
    <h1 class="leading-tight text-2xl lg:text-4xl w-full h-min cursor-pointer {{title-size}}  empty:hidden"
      contenteditable="true">
      {{ title }}
    </h1>
    {{>user-avatar name="Ernests Kļaviņš" pic="./src/assets/img/temp/user-avatar-pic.png"}}
  </div>
</figure>