<figure class="flex flex-1 flex-grow flex-col bg-white shadow-md border-t border-slate-100 {{class}}">
  
  {{#if image}}

  <img
    src="{{image}}"
    alt=""
    class="aspect-auto w-full cursor-pointer object-cover"
    x-data
    @click="window.location='article.html'" />

  {{else}}

  <img
    src="./src/assets/img/temp/hero.jpg"
    alt=""
    class="aspect-video w-full cursor-pointer object-cover"
    x-data
    @click="window.location='article.html'" />

  {{/if}}
  
  <div class="flex flex-1 flex-col flex-wrap items-start gap-y-3 px-8 py-8">
    <h1
      class="leading-tight text-2xl w-full h-min cursor-pointer {{title-size}}" 
      role="link"
      x-data
      @click="window.location='article.html'">
      {{ title }}
    </h1>
    <a href="author.html" class="font-serif card__author uppercase text-gray-500"> {{ author }}</a>  </div>
</figure>
