<footer aria-label="footer" class="bg-ir-dark-gray">
  <div class="container flex-row items-center p-10 lg:flex">
    <img
      src="./src/assets/img/ir-logo-footer.svg"
      alt="Footer Logo"
      class="pr-10" />
    <ul
      role="navigation"
      aria-roledescription="Footer navigation"
      class="block w-full gap-10 font-serif leading-[5rem] text-ir-light-gray lg:flex lg:py-20 lg:leading-normal">
      <li><a href="">Komanda</a></li>
      <li><a href="">Manifests</a></li>
      <li><a href="">Ētikas kodekss</a></li>
      <li><a href="">Kontakti</a></li>
      <li><a href="">Reklāma</a></li>
      <li><a href="">Abonēšanas un iepirkšanās noteikumi</a></li>
      <li><a href="">Privātuma politika</a></li>
    </ul>
  </div>
</footer>
