<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IR žurnāls</title>
  <script type="module" crossorigin src="main.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script type="text/javascript">
    window.document.addEventListener("alpine:init", () => {
      let state = window.alpine.store("header");
      state.showMenu = state.isScreenDesktop();
      console.log(state.showMenu);
    });
  </script>
</head>
