<figure
  class="flex flex-col border-t border-slate-100 bg-white shadow-md lg:flex-row">
  <div
    class="flex flex-1 flex-col flex-wrap items-start justify-between gap-y-3 px-4 py-4 lg:w-2/3">
    <div class="flex w-full justify-between">
      <span
        class="relative uppercase before:absolute before:-left-4 before:bottom-0 before:top-0 before:h-5 before:w-[2px] before:bg-ir-red"
        >{{ tag }}</span
      >
      {{>bookmark}}
    </div>
    <h1 class="text-[22px] leading-tight {{title-size}} w-full h-min flex-grow">
      {{ title }}
    </h1>
    {{#if excerpt}}
    <p class="flex-grow font-sans text-card-lead leading-relaxed text-gray-800">
      {{ excerpt}}
    </p>
    {{/if}}
    <span class="card__author uppercase text-gray-500"> {{ author }}</span>
  </div>
  <img
    src="./src/assets/img/temp/hero.jpg"
    alt=""
    class="-order-1 aspect-video w-full object-cover lg:order-2 lg:w-[200px]"
    width="300" />
</figure>
