<figure class="bg-white shadow-md">
  <img
    src="./src/assets/img/temp/hero.jpg"
    alt=""
    class="aspect-video w-full object-cover" />
  <div class="flex flex-row flex-wrap justify-between gap-3 px-4 py-4">
    <span
      class="relative uppercase before:absolute before:-left-4 before:bottom-0 before:top-0 before:h-5 before:w-[2px] before:bg-ir-red"
      >{{ tag }}</span
    >
    <div class="flex items-center uppercase">
      <a href="" class="bookmark"
        ><img src="./src/assets/icons/bookmark_empty.svg" alt=""
      /></a>
    </div>
    <h1 class="text-[18px] leading-6">{{ title }}</h1>
    <span class="card__author uppercase text-gray-500"> {{ author }}</span>
  </div>
</figure>
