<div class="flex flex-col items-center justify-center bg-teal-100">
  <div
    class="relative mx-auto w-full"
    x-data="{slides: [1, 2, 3, 4, 5], activeSlide: 1 }">
    <!-- Slides -->
    <template x-for="slide in slides">
      <div
        x-show="activeSlide === slide"
        class="flex h-80 w-full items-center justify-center bg-slate-500 p-24 text-5xl font-bold text-white">
        <span class="w-12 text-center" x-text="slide"></span>
        <span class="text-slate-300">/</span>
        <span class="w-12 text-center" x-text="slides.length"></span>
      </div>
    </template>

    <!-- Buttons -->
    <div
      class="absolute flex w-full items-center justify-center gap-2 px-4 py-4">
      <div class="flex w-1/2 items-center justify-start">
        <button
          class=""
          x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19 21L14 16L19 11"
              stroke="#2E2E30"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>

      <!-- Indicators -->
      <template x-for="slide in slides" :key="slide">
        <button
          class="h-1 w-1 overflow-hidden rounded-full transition-colors duration-200 ease-out hover:bg-teal-600 hover:shadow-lg"
          :class="{ 
                'bg-ir-red': activeSlide === slide,
                'bg-slate-400': activeSlide !== slide 
            }"
          x-on:click="activeSlide = slide"></button>
      </template>

      <div class="flex w-1/2 items-center justify-end">
        <button
          class=""
          x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13 11L18 16L13 21"
              stroke="#2E2E30"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
