<div class="hero w-full shadow-ir-default lg:px-0">
  <figure class="bg-white">
    <img src="./src/assets/img/temp/hero.jpg" alt="" class="w-full object-cover" />
    <div class="flex flex-row flex-wrap justify-between px-4 pb-4 pt-4 lg:px-8 lg:pb-8">
      <span
        class="relative uppercase before:absolute before:-left-4 before:bottom-0 before:top-0 before:h-5 before:w-[2px] before:bg-ir-red lg:before:-left-8">Kultūra</span>
      <div class="flex items-center uppercase">
        <span class="hero__author pr-4 uppercase text-gray-500">Laura Dumbere</span><a href="" class="bookmark"><img
            src="./src/assets/icons/bookmark_empty.svg" alt="" /></a>
      </div>
      <h1 class="w-full text-[26px] leading-7 lg:text-5xl">
        Dziedātāja Zanda Švēde iekaro Sanfrancisko un Frankfurti
      </h1>
    </div>
  </figure>
</div>