<figure class="relative shadow-md group/mag">
  <img src="{{pic}}" class="group-hover/mag:opacity-50 hover:transition-opacity" alt="" loading="lazy">
  <div class="flex justify-between p-3">
    <span class="font-serif-bold"  contenteditable="true">{{issue}}</span>
    <span class="font-serif-bold"  contenteditable="true">{{date}}</span>
  </div>
  <div class="hidden lg:block opacity-0 group-hover/mag:opacity-100 transition-opacity btn-wrapper w-1/2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    {{>btn-cta-red label="Lasīt" link="magazine.html"}}
  </div>
</figure>